global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull

    # Give a longer time to connect because Angular takes a while to spin up
    timeout connect 60s
    timeout client  50s
    timeout server  50s
    timeout tunnel  1h

frontend http-in
    bind *:80

    # Match /sampleapp/*
    acl is_sampleapp path_beg /sampleapp
    acl is_iris path_beg /sampleapp/api or path_beg /sampleapp/login or path_beg /sampleapp/auth

    # If it's /sampleapp/<something handled by IRIS>, send to IRIS
    use_backend iris-backend if is_iris

    # If it's /sampleapp, send to Angular UI
    use_backend angular-ui if is_sampleapp

    # Everything else → IRIS
    default_backend iris-backend

backend angular-ui
    balance roundrobin
    server angular angular:4200 check

backend iris-backend
    balance roundrobin
    server iris webgateway:80
